<h1>New mobs_nano</h1>

<%= error_messages_for :mobs_nano %>

<% form_for(:mobs_nano, :url => mobs_nanos_path) do |f| %>
  <p>
    <b>Mob</b><br />
    <%= f.text_field :mob_id %>
  </p>

  <p>
    <b>Nano</b><br />
    <%= f.text_field :nano_id %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mobs_nanos_path %>