<p>
  <b>Mob:</b>
  <%=h @mobs_nano.mob_id %>
</p>

<p>
  <b>Nano:</b>
  <%=h @mobs_nano.nano_id %>
</p>


<%= link_to 'Edit', edit_mobs_nano_path(@mobs_nano) %> |
<%= link_to 'Back', mobs_nanos_path %>