<p>We are currently tracking <%= link_to @items.size.to_s + ' items', :controller => 'items' %> and <%= link_to @mobs.size.to_s + " mob types", :controller => 'mobs' %>.</p>
<p>This site was developed out of pure love for statistics and knowledge bases.  It has been re-written in <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %> and we have plans for developing its functionality even further over the coming months.</p>