        <ul>
          <li><%= link_to 'Blog', :controller => 'temple', :action => 'index' %></li>
          <li><%= link_to 'Introduction', :controller => 'temple', :action => 'introduction' %></li>
          <li><%= link_to 'Temple Map', :controller => 'temple', :action => 'map' %></li>
          <li><%= link_to 'Items', :controller => 'items', :action => 'index' %></li>
          <li><%= link_to 'Mobs', :controller => 'mobs', :action => 'index' %></li>
          <li class="last"><%= link_to 'About', :controller => 'temple', :action => 'about' %></li>
        </ul>