Sort by:
<%= link_to 'Category', { :action => 'index', :sort => 'category' }, (params[:sort] == 'category') ? {:class => 'selected'} : nil %> |
<%= link_to 'Profession', { :action => 'index', :sort => 'profession' }, (params[:sort] == 'profession') ? {:class => 'selected'} : nil %>